/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #376551;
  --matr-navbar-bg-rgb: 10, 68, 10;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: white;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
}


body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.navbar a.nav-link.active {
  color: var(--matr-navbar-highlight-text);
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

.landing-page-white {

}

.landing-page-white {

}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar {
  font-family: "Academy Engraved LET";
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.nav-link {
  margin-right: 30px;
}

#manoaBackground {
  background-image: url("public/images/ManoaWallpaper.jpg");

}
/*
#adminbutton {
  background-color: darkgreen;
} */

#listitembutton {
  background-color: #376551;
}

#catBar{
  color: darkgray;
}